.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
/* 
.headerTitle {
  margin-right: 400px;
} */

.header a {
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .headerTitle {
    margin-bottom: 29px;
  }
}
