.BannnerSection {
  display: flex;
}

.BannerLeft {
  width: 570px;
  height: 511px;
  margin-top: 148px;
  margin-right: 70px;
  /* padding: 20px; */
}
.BannerLeft p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
}
.Banner img {
  width: 816px;
  height: 644px;
  margin-bottom: 100px;
}
/* .featureSection{
  border: 5px solid aqua;
} */
.categorySection {
  margin-bottom: 130px;
}

@media only screen and (max-width: 600px) {
  .BannnerSection {
    display: flex;
    flex-direction: column;
  }
  .BannerLeft {
    margin: 0;
    /* padding: 20px; */
    width: auto;
  }
}
